[Unit]
Description=menoetius

[Service]
Type=simple
LimitCORE=infinity
EnvironmentFile=/etc/menoetius.conf
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=menoetius
ExecStart=/usr/local/bin/menoetius
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
KillSignal=SIGTERM
TimeoutStopSec=5m

[Install]
WantedBy=multi-user.target
